[submodule "CB2"]
	path = CB2
	url = https://github.com/jeonglab-bcm/CB2.git
	branch = feature/cb2-reg
[submodule "BARCS"]
	path = BARCS
	url = https://github.com/jeonglab-bcm/BARCS.git
	branch = main
[submodule "overleaf"]
	path = overleaf
	url = https://git@latex.bioinfolder.com/git/6a6ec212d3ea56f57964b094
	branch = main
